<!DOCTYPE html>
<html>
<head>
    <title>DevOps Intern Project </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .container {
            background-color: #f0f0f0;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #3273dc;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>DevOps Intern Project </h1>
        <h2>Congratulations! Your dev environment deployment was successful.Prafull</h2>
        <p>Container hostname: {{ hostname }}</p>
        <p>This application was deployed using:</p>
        <ul style="display: inline-block; text-align: left;">
            <li>Docker</li>
            <li>AWS ECS with EC2</li>
            <li>Terraform</li>
            <li>GitHub Actions CI/CD</li>
        </ul>
    </div>
</body>
</html>
